button {
    background-color: #1C3C55;
    color: whitesmoke;
    border-radius: 5px;
    /* font-weight: bold; */
    height: 25px;
    border-width: 0px;
    margin: 2px;
    padding: 5px;
    width: 125px;
    transition-duration: 0,6s;
    cursor: pointer;
    
    /* border-radius: 50%; */
}

/* .back-button {
    width: 90px;
    justify-self: center;
} */

.pagination-buttons {
    border-radius: 50%;
    width: 25px;
}

button:hover {
    background-color: #3E6C89;
    font-weight: bold;
}

button:active {
    transform: scale(95%);
}